<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rxz.test03_rxz.mapper.MyInterfaceMapper">
    <select id="findAll" resultType="rxz.test03_rxz.pojo.MyInterface">
        select * from myinterface
    </select>
</mapper>